.australia-company-reg {
  @media screen and (max-width: 990px) {
    .Types-img {
      height: 100%;
    }
    .Establish-img {
      height: 100%;
    }
    .DocumentReq-img {
      height: 100%;
    }
    .Facts-img {
      height: 100%;
    }
  }
}
