.bis-crs-certification-reg{
  @media screen and (max-width: 990px) {
    .Process-img {
      height: 100%;
    }
    .GuidelinesElectronic-img {
      height: 100%;
    }
    .Implementation-img {
      height: 100%;
    }
    .Evaolution-img{
      height: 100%;
    }
    .Product-img{
      height: 100%;
    }
    .Eligibility-img{
      height: 100%;
    }
    .Documents-img{
      height: 100%;      
    }
    .Decoding-img{
      height: 100%;      
    }
  }
}
