.book-keeping-and-accounting-services-reg {
  @media screen and (max-width: 990px) {
    .certificate{
      height: 100% !important;
      width: 100% !important;
    }
    .HowRegisterkaro-img{
      height: 100%;
    }
    .WhyOutsources-img{
      height: 100%;
    }
    .WhyBookkeeping-img{
      height: 100%;
    }
    .WhoMandates-img{
      height: 100%;
    }

  }
}
