.canada-regi {
  @media screen and (max-width: 990px) {
    .Benefits-img {
      height: 100%;
    }
    .Types-img {
      height: 100%;
    }
    .Prerequisites-img {
      height: 100%;
    }
    .DocumentRequired-img {
      height: 100%;
    }

    .WhyChoose-img {
      height: 100%;
    }
  }
}
