.cdsco-registration-reg {
  @media screen and (max-width: 990px) {
    .Types-img {
      height: 100%;
    }
    .Applicable-img {
      height: 100%;
    }
    .Eligibility-img {
      height: 100%;
    }
    .description-img {
      height: 100%;
    }
    .Distinctions {
      height: 100%;
    }
    .Whocanapply-img {
      height: 100%;
    }
    .DocumentsReq-img {
      height: 100%;
    }
    .Registration-img {
      height: 100%;
    }
    .procedural-img {
      height: 100%;
    }
    .Validity-img {
      height: 100%;
    }
    .Suspension-img {
      height: 100%;
    }
    .Mandatory-img {
      height: 100%;
    }
  }
}
