.consumer-complaint-reg {
  @media screen and (max-width: 990px) {
    .certificate{
      height: 100% !important;
      width: 100% !important;
    }
    .Eligibility-img{
      height: 100%;
    }
    .Challenges-img {
      height: 100%;
    }
    .StepsForFilling-img {
      height: 100%;
    }
    .DocumentArrowWise-img {
      height: 100%;
    }
    .HowCanRegisterKaro-img{
      
    }
    .certificate{

    }
  }
}
