.epf_registration-reg {
  @media screen and (max-width: 990px) {
    .objectives-img {
      height: 100%;
    }
    .Applicability-img {
      height: 100%;
    }
    .Benefits-img {
      height: 100%;
    }
    .Eligibility-img {
      height: 100%;
    }
    .Different-img {
      height: 100%;
    }
    .important-img {
      height: 100%;
    }
    .Documents-img {
      height: 100%;
    }
    .Withdrawal-img {
      height: 100%;
    }
    .exempted-img {
      height: 100%;
    }
    .MandatoryCompliance-img {
      height: 100%;
    }
    .Due-img {
      height: 100%;
    }
  }
}
