.esi-registration-reg {
  @media screen and (max-width: 990px) {
    .Benefits-img {
      height: 100%;
    }
    .Various-img {
      height: 100%;
    }
    .Eligibility-img {
      height: 100%;
    }
    .vital-img {
      height: 100%;
    }
    .Compliance-img {
      height: 100%;
    }
  }
}
