.fssai-registration-reg {
  @media screen and (max-width: 990px) {
    .OtherAnnual-img {
      height: 520px;
    }
    .EventBased-img {
      height: 460px;
    }
    .WhoReq-img {
      height: 500px;
    }
    .PartnershipDeed-img {
      height: 630px;
    }
  }
}
