.gumasta-license-reg {
  @media screen and (max-width: 990px) {
    .HowRegisterKaro-img{
      height: 100%;
    }
    .DocumentsRequired-img{
      height: 100%;
    }
    .button-wise{
      div{
        width: 100%;
      }
    }
  }
}
