.hong-kong-company-reg {
  @media screen and (max-width: 990px) {
    .Process-img {
      height: 100%;
    }
    .Features-img {
      height: 100%;
    }
    .Governing-img {
      height: 100%;
    }
    .Types-img {
      height: 100%;
    }
    .Incorporation-img {
      height: 100%;
    }
    .How-img {
      height: 100%;
    }
  }
}
