.iec-registration-reg {
  @media screen and (max-width: 990px) {
    .benefits-img{
      height: 100%;
    }
    .Eligibility-img{
      height: 100%;
    }
    .Prerequisites-img{
      height: 100%;
    }
    .Documents-img{
      height: 100%;
    }
    .Procedure-img{
      height: 100%;
    }
    .Mandatory-img{
      height: 100%;
    }
    .Exemption-img{
      height: 100%;      
    }
  }
}
