.isi-mark-certification-reg {
  @media screen and (max-width: 990px) {
    .Documents-img {
      height: 100%;
    }
    .main-parition {
      flex-direction: column;
    }
    .Primary-img {
      height: 100%;
    }
    .KeyPoints-img {
      height: 100%;
    }
    .Benefits-img {
      height: 100%;
    }
    .listProducts-img {
      height: 100%;
    }
    .validity-img {
      height: 100%;
    }
    .Reasons-img {
      height: 100%;
    }
  }
}
