._llp-compilance-reg {
  @media screen and (max-width: 990px) {
    .Consequences-img {
      height: 100%;
    }
    .benefits-img {
      height: 100%;
    }
    .Mandatory-img {
      height: 100%;
    }
    .WhatLLp-img {
      height: 100%;
    }
  }
}
