.mauritius-reg {
  @media screen and (max-width: 990px) {
    .Features-img {
      height: 100%;
    }
    .Types-img {
      height: 100%;
    }
    .IncorporationFees-img {
      height: 100%;
    }
    .DocumentRequired-img {
      height: 100%;
    }

    .HowDoes-img {
      height: 100%;
    }
  }
}
