.medical-device-registration-reg {
  @media screen and (max-width: 990px) {
    .ApplicableRegulations-img {
      height: 100%;
    }
    .EligibilyMandatory-img {
      height: 100%;
    }
    .DescriptionServicesTwo-img {
      height: 100%;
    }
    .DescriptionServicesOne-img {
      height: 100%;
    }
    .WhatDocument-img {
      height: 100%;
    }
    .MedicalDevice-img {
      height: 100%;
    }
    .MedicalDeviceRegistration-img {
      height: 100%;
    }
    .RenewalService-img {
      height: 100%;
    }
    .Cancellation-img {
      height: 100%;
    }
    .MandatoryCom-img {
      height: 100%;
    }
  }
}
