.msme-registration-reg {
  @media screen and (max-width: 990px) {
    .certificate{
      height: 100% !important;
      width: 100% !important;
    }
    .BenefitsMSME-img {
      height: 100%;
    }
    .certificate{
      height: 100%;
    }
    .ProcessMSME-img{
      height: 100%;
    }
    .SupportingDocuments-img {
      height: 100%;
    }
    .TypeBusiness-img{
      height: 100%;
    }
    .UdyamRegistration-img{
      height: 100%;
    }
    .WhichEntities-img{
      height: 100%;
    }
  }
}
