.ngo-reg {
  .certificate {
    height: 37rem;
    width: 35rem;
  }
  @media screen and (max-width: 990px) {
    .certificate {
      height: 100%;
      width: 100% !important;
    }
    .Benefits-img {
      height: 100%;
    }
    .Eligibility-img {
      height: 100%;
    }
    .certificate {
      height: 100%;
    }
    .TypeOfNgo-img {
      height: 100%;
    }
    .Classification-img {
      height: 100%;
    }
    .WhyNGO-img {
      height: 100%;
    }
    .Benefits-img {
      height: 100%;
    }
    .HowToRegister-img {
      height: 100%;
    }
    .WhyNGO-img {
      height: 100%;
    }
  }
}
