.plastic-waste-authorization-reg {
  @media screen and (max-width: 990px) {
    .WhoCan-img {
      height: 100%;
    }
    .RequirementsAuthorizationRules-img {
      height: 100%;
    }
    .DocumentsRequired-img {
      height: 100%;
    }
    .Procedure-img {
      height: 100%;
    }
    .ValidityRenewal-img {
      height: 100%;
    }
    .Cancellation-img {
      height: 100%;
    }
    .MandatoryCompliance-img {
      height: 100%;
    }
  }
}
