.pro-authorization-reg {
  @media screen and (max-width: 990px) {
    .padding-margin-top-0{
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
    .LegalFramework-img {
      height: 100%;
    }
    .Eligibility-img {
      height: 100%;
    }
    .MandatoryCompliance-img {
      height: 100%;
    }
  }
}
