.society-reg {
  @media screen and (max-width: 990px) {
    .Purpose-img{
      height: 100%;
    }
    .SelectionHead-img{
      height: 100%;
    }
    .SelectionName-img{
      height: 100%;
    }
    .Memorandum-img{
      height: 100%;
    }
    .WhySocietyRegi-img{
      height: 100%;
    }
    .DocumentRequired-img{
      height: 100%;
    }
    .UnderstandProcess-img{
      height: 100%;
    }
    .Dissolution-img{
      height: 100%;
    }
    .RenewSociety-img{
      height: 100%;
    }
    .Renewal-img{
      height: 100%;
    }
    .HowToRegister-img{
      height: 100%;
    }
    .Registration-img{
      height: 100%;
    }
  }
}
