.sole-reg {
  @media screen and (max-width: 990px) {
    .DifferentTypes-img {
      height: 100%;
      width: 100%;
    }
    .benefits-img,
    .DocumentRequired-img {
      height: 100%;
      width: 100%;
    }
    .benefits-img,
    .DocumentRequired-img {
      height: 100%;
      width: 100%;
    }
  }
}
