.startup-reg {
  @media screen and (max-width: 990px) {
    .certificate-img{
      height: 100%;

    }
    .Objectives-img{
      height: 100%;

    }
    .Benefits-img{
      height: 100%;
      
    }
    .Eligibility-img{
      height: 100%;

    }
    .Checklist-img{
      height: 100%;

    }
    .DocRequired-img{
      height: 100%;

    }
    .Procedure-img {
      height: 100%;

    }
    .HowToRegister-img{
      height: 100%;
      
    }
  }
 
}
