.trust-reg {
  @media screen and (max-width: 990px) {
    .TrustsComp-img{
      height: 100%;
    }
    .PartiesInvolved-img{
      height: 100%;
    }
    .Categories-img{
      height: 100%;
    }
    .Regularity-img{
      height: 100%;
    }
    .ImportanceTrust-img{
      height: 100%;
    }
    .Advantages-img{
      height: 100%;
    }
    .Prerequisite-img{
      height: 100%;
    }
    .Components-img{
      height: 100%;
    }
    .Documentation-img{
      height: 100%;
    }
    .Procedure-img{
      height: 100%;
    }
    .TrustsComp-img{
      height: 100%;
    }
    .Dissolution-img{
      height: 100%;
    }
    .RegiFee-img{
      height: 100%;
    }
  }

 
}
